$primary: #27adeb;
$info: #e4ebf1;
$warning: #fad710;
$danger: #f10924;
$success: #75cf26;

// @import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/base/generic.sass";
// @import "../../node_modules/bulma/sass/base/helpers.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
