.page-container {
  min-height: 100vh;
  background: var(--moonseed);
  color: var(--text-dark);
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-items: center;
  padding-bottom: 2.5rem;

  .page-header {
    margin-bottom: 1.5rem;
    .link-home {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    .page-title {
      font-size: 2rem;
      margin: 1rem;
    }
  }
}

li {
  list-style-position: inside;
  font-weight: 500;
}

a {
  font-weight: 500;
}
