.page-container {
  min-height: 100vh;
  background: var(--moonseed);
  color: var(--text-dark);
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-items: center;
  padding-bottom: 2.5rem;

  .page-title {
    font-size: 2rem;
    margin: 1rem;
  }
}

li {
  list-style-position: inside;
}

a {
  font-weight: 500;
}
