.page-container {
  min-height: 100vh;
  background: #000;
  display: grid;
  grid-template-rows: 20% 1fr;
  justify-items: center;
  padding-bottom: 2.5rem;

  .page-title {
    font-size: 2rem;
    margin: 1rem;
    color: #fff;
  }
}
