:root {
  // --dark-navy: #011a27;
  // --blueberry: #063852;
  // --tangerine: #f0810f;
  // --ivory: #f1f3ce;
  // --latte: #ddbc95;
  // --deep-purple: #363237;
  // --mist: #90afc5;
  // --stone: #336b87;
  // --seaform: #c4dfe6;
  // --lime: #a2c523;

  // --deep-calypso: #03525b;
  // --lightgrey: #e8e6e6;
  // --powder-blue: #9dcfe7;
  // --cornflower: #738ceb;
  // --mystery: #424f96;

  --ocean-liner: #368fa4;
  --moonseed: #cde8e7;

  --text-light: #e8e6e6;
  --text-dark: #03525b;
}
